<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{title}}</title>
	<style type="text/css">
	html, body{
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.script-holder{
		width: 500px;
		height: 500px;
		background: grey;
	}
</style>
</head>
<body>
	<div class="script-holder">
		<script type="text/javascript">
			var options = {
				urlink: "https://www.google.com.ua",
				contentWidth: 600,
				text: {
					link1: 'HD',
					link2: 'Principal',
					link3: 'Netu',
					link4: 'TheVid',
				}
			}
			var currentScript = document.currentScript;
		</script>
		<script type="text/javascript" src="common.js"></script>
	</div>
</body>
</html>