{{!-- This is the base layout for your project, and will be used on every page. --}}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- inline src/css/style.css -->
	<link rel="stylesheet" href="../assets/min/style.css" inline>
</head>
<body>
	{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened emails are created. --}}
	{{> body}}
	<!-- inline src/js/script.js -->
	<script type="text/javascript" src="../assets/min/script.min.js" inline></script>
</body>
</html>